<div class="flex flex-col w-full items-center md:w-2/3"> 
  <div class="flex flex-row w-full justify-center">
    <h2 class="font-bold text-6xl font-righteous text-white mt-6">Edit Tweet</h2>
  </div>

  <%= render "form", tweet: @tweet %>
  <%= button_to "Delete", @tweet, method: :delete, data: {turbo_confirm: "Are you sure?"}, class:"btn-grey mt-4" %>
</div>