<% if f.object.errors.any? %>
  <div id="error_explanation" class="alert rounded-border">
    <h2><%= pluralize(f.object.errors.count, "error") %>:</h2>
    <ul>
      <% f.object.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
<% end %>