<div class="w-full text-right font-righteous text-8xl md:text-[10rem] leading-[4.6rem] text-zinc-100 tracking-tight leading-[8rem] pt-10 pr-[10%]">About us</div>
<div class="flex w-full justify-end">
  <div class="w-2/3 text-right font-righteous text-2xl md:mt-4 text-zinc-200 pr-[10%]">"We" can help</div>
</div>