
<div class="w-full text-right font-righteous text-8xl md:text-[10rem] leading-[4.6rem] text-rose-700 tracking-tight leading-[8rem] pt-10 pr-[10%]">C<span class="text-rose-600">a</span>r<span class="text-rose-600">d</span>i<span class="text-rose-600">na</span><span class="text-rose-500">l</span><span class="text-yellow-300">></span></div>

<div class="flex w-full justify-end">
  <div class="w-2/3 text-right font-righteous text-2xl md:mt-4 text-zinc-200 pr-[20%]">A Digital Assistant for your Twitter</div>
</div>
<div class="flex justify-start w-[full] absolute left-10 bottom-10">
  <div class="flex flex-col">
    <% if Current.user %>
      <%= link_to "Home", home_profile_path, class:"btn-green mt-10 w-32" %>
      <%= button_to "Sign Out", sign_out_path, method: :delete, class:"btn-yellow mt-10 w-32" %>
    <% else %>
      <%= link_to "Sign In", sign_in_path, class:"btn-green mt-10 w-32" %>
      <%= link_to "Register", sign_up_path, class:"btn-yellow mt-10 w-32" %>
    <% end %>
  </div>
</div>