
<div class="w-full text-right font-righteous text-[10rem] leading-[4.6rem] text-zinc-100 tracking-tight leading-[8rem]">Cardinal</div>

<div class="flex w-full justify-end">
  <div class="w-2/3 text-right font-righteous text-2xl mt-6 text-zinc-200">A Digital Assistant for your Twitter</div>
</div>
<div class="flex justify-start w-[full] absolute left-10 bottom-10">
  <div class="flex flex-col">
    <%= link_to "Register", sign_up_path, class:"btn-yellow mt-10 w-32" %>
  </div>
</div>