<div class="container-alert" data-controller="alert"> 
  <div class="alert rounded-border" role="alert">
    <%= alert %>
    <button class="font-monoton text-3xl" data-action="alert#close" aria-label="Close">x</button>
  </div>
</div>